<p id="notice"><%= notice %></p>

<p>
  <strong>Desc formapagamento:</strong>
  <%= @fd_formapagamento.desc_formapagamento %>
</p>

<%= link_to 'Edit', edit_fd_formapagamento_path(@fd_formapagamento) %> |
<%= link_to 'Back', fd_formapagamentos_path %>
