
<%cont = 0%>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mesas</h3>
	</div>
	<div class="panel-footer" style="background-color:white;">
		<br/>
		<div class="container"> 
			<div class="row mar-bot40">
				<% @fd_mesa.each do |fd_mesa| %>
					<div class="col-lg-2" >
						<%= link_to pedidos_path(fd_mesa.id), :class => "btn btn-default" do %>
							<%if fd_mesa.flag_mesaaberta == true%>
								<%= image_tag ("table_open.png")%>
							<%else%>
								<%= image_tag ("table_close.png")%>
							<%end%>
							 <br/> Mesa <%=fd_mesa.numr_mesa%>
						<% end %>
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</div>
