<div class="page-header">
  <h2>Tipo de Pedido</h2>
</div>


    <%= link_to lista_mesas_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
      <span class="glyphicon glyphicon-cutlery"></span> Mesa
    <% end %>       
    <%= link_to lista_mesas_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
      <span class="glyphicon glyphicon-cutlery"></span> Balcão
    <% end %>
    <%= link_to lista_mesas_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
      <span class="glyphicon glyphicon-phone-alt"></span> Entrega
    <% end %>         
