<div class="page-header">
	<h1>Editar Usuários</h1>
</div>

<%= render 'form' %>

  <%= link_to @fd_usuario , :class => "btn btn-default" do %>
     Exibir
  <% end %>

  <%= link_to fd_usuarios_path, :class => "btn btn-default" do %>
     Voltar
  <% end %>  

</div>

