<h1>Editar Empresa</h1>

<%= render 'form' %>


 <%= link_to @fd_empresa, :class => "btn btn-default" do %>
    <span></span> Exibir
 <% end %>
 <%= link_to fd_empresas_path, :class => "btn btn-default" do %>
    <span aria-hidden="true">&larr;</span> Voltar
 <% end %>
