<div class="page-header">
  <h1>Categoria</h1>
</div>

<%= render 'form' %>

  <%= link_to fd_categoriaempresas_path, :class => "btn btn-default" do %>
    <span aria-hidden="true">&larr;</span> Voltar
  <% end %>

</div>

