<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @fd_categoriaempresa.nome_categoria %>
</p>

<%= link_to 'Edit', edit_fd_categoriaempresa_path(@fd_categoriaempresa) %> |
<%= link_to 'Back', fd_categoriaempresas_path %>
